
/* IMPORT FOR FONTS AND ANIMATIONS */

/* GENERAL SETTTING AND DEFAULT BROWSER SETTINGS RESET */

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1f1f, 98%,#434343);
}

header {
    border-bottom: 2px solid lightblue;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

header section div {
    display: inline-block;
    margin: 0 1rem 0 auto;
}

p {
    color: whitesmoke;
    font-size: 5vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* #mainMenu {
    border: 2px solid lightblue;
    border-radius: 1vh;
    box-shadow: 0 0 1vh darkgray;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
} */

#maiMenu div {
    padding: 1vh 1vw;

}

#mainMenu p {
    margin: 0 auto;
    padding: 1vh 1vw;
    text-align: center;
}

#gameArea {
    border-left: 3px dashed rgb(239, 243, 10);
    border-right: 3px dashed rgb(32, 41, 161);
    height: 80vh;
    margin: 2vh auto;
    position: relative;
    width: 80vw;
}

#dialogBox {
    border: 2px solid lightgray;
    border-radius: 1vh;;
    box-shadow: 0 0 1vh darkgray;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vw 5vh;
}

#dialogBox p {
    font-size: 2rem;
    padding: 1vh 1vw;
}

#gamelaunch {
    cursor: pointer;
    color: red;
    font-weight: bold;
    line-height: 5vh;;
    animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse{50%{font-size:5.5vh;}}

#title {
    font-size: 5rem;
    font-weight: bold;
}

/* For mobile devices: prevent browser from intercepting touch gestures */
.screenLock {
    touch-action: none;
}

.appear {
    display: block !important;
}

.hidden {
    display: none !important;
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.fade-out {
	animation: fade-out 2s ease-out 2s both;
}
@keyframes fade-out{0%{opacity:1}100%{opacity:0}}

.paddle {
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2vh white, inset 0 0 0.5vh lightgray;
    height: 6vh;
    position: absolute;
    width: 1vw;    
}

.paddle.left {
    background-color: #f5222d;
    top: 37vh;
    left: 0vw;
}

.paddle.right {
    background-color: #52c41a;
    top: 37vh;
    left: 78.5vw;
}

.ball {
    border-radius: 1vw;
    box-shadow: inset 0 0 1vh ghostwhite;
    position: absolute;
    pointer-events: none;
    width: 2vw;
    aspect-ratio: 1;
    animation: rotation 2.0s linear infinite reverse none;
}
@keyframes rotation { to { transform: rotate(360deg); } }

.ball.left {
    background-color: #f5222d;
}

.ball.right {
    background-color: #52c41a;
}

.wall {
    background-color: #595959;
    box-shadow: inset 0 0 0.5vh #fafafa;
    border: #000000 solid 1px;            /***** border thickness set as a px value ******/
    border-radius: 0.5vw;
    position: absolute;
    pointer-events: none;
}

.brick {
    border: #000000 solid 1px;            /***** border thickness set as a px value ******/
    box-shadow: inset 0 0 0.5vh #fafafa;
    border-radius: 0.5vw;
    position: absolute;
    pointer-events: none;
}

footer {
    border-top: 1px solid lightblue;
}
